@model Escuela.Models.Calificacione

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Calificacione</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unidad1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unidad1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unidad2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unidad2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unidad3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unidad3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaliFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaliFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreMateriaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreMateriaNavigation.NombreMateria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumControlNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumControlNavigation.NumControl)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCalificacion" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
