@model IEnumerable<Escuela.Models.Calificacione>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Unidad1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unidad2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unidad3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaliFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreMateriaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumControlNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Unidad1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unidad2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unidad3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaliFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMateriaNavigation.NombreMateria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumControlNavigation.NumControl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCalificacion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCalificacion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCalificacion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
