@model IEnumerable<Escuela.Models.Calificacione>

@{
    ViewData["Title"] = "Index";
}

<h1>Calificaciones</h1>

<p>
    <a class="btn btn-primary btn-lg active" asp-action="Create">Agregar nueva</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Unidad1)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Unidad2)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Unidad3)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CaliFinal)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.NombreMateriaNavigation)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.NumControlNavigation)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Unidad1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unidad2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unidad3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaliFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMateriaNavigation.NombreMateria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumControlNavigation.NumControl)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.IdCalificacion">Editar</a> |
                <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.IdCalificacion">Detalles</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdCalificacion">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
