@model IEnumerable<Escuela.Models.Maestro>

@{
    ViewData["Title"] = "Index";
}

<h1>Maestros</h1>

<p>
    <a class="btn btn-primary btn-lg active" asp-action="Create">Agregar nuevo</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.NumTelefono)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.NombreMateriaNavigation)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumTelefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMateriaNavigation.NombreMateria)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.IdMaestro">Editar</a> |
                <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.IdMaestro">Detalles</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdMaestro">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
