@model IEnumerable<Escuela.Models.Materia>

@{
    ViewData["Title"] = "Index";
}

<h1>Materias</h1>

<p>
    <a class="btn btn-primary btn-lg active" asp-action="Create">Agregar nueva</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.NombreMateria)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMateria)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.IdMateria">Editar</a> |
                <a asp-action="Details" class="btn btn-secondary" asp-route-id="@item.IdMateria">Detalles</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.IdMateria">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
